 
    flask==1.1.2
    gunicorn
    itsdangerous==1.1.0
    Jinja2==2.11.2
    MarkupSafe== 1.1.1
    Werkzeug== 1.0.1
    numpy
    scipy== 1.10.1
    scikit-learn==1.0
    pandas
    gensim==4.0.1
    tensorflow-cpu==2.5.0
    keras-preprocessing== 1.1.2
